---
import Title from "./Title.astro";
import Text from "./Text.astro";

---

<section class="my-[50px] md:pl-5 md:pr-5 lg:flex lg:justify-between">
  <div class="lg:w-6/12">
    <Title>About</Title>
  </div>
  <div class="mt-5 md:pl-5 md:pr-5 lg:w-6/12 ">
    <Text>
      Bonjour 👋 je m'appelle Maxime Vidalinc. Tu as besoin d'une
      application Android ou iOS, tu es aux bons endroits.
    </Text>
  </div>
</section>