---
import SmallText from "./SmallText.astro";


const yearDate = new Date().getFullYear();

---
<footer class="container flex justify-between items-center flex-col py-[55px]">
  <div class="divide-solid"></div>
  <div class="container flex justify-evenly flex-col sm:flex-row">
    <SmallText>&copy; {yearDate} Maxvyr </SmallText>
    <a
      href="https://go.maxvyr.com/newsletter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <SmallText>S'incrire à la newsletter</SmallText>
    </a>

    <SmallText>
      Merci spécial à{" "}
      <a target="_blank" href="https://icons8.com" class="font-bold">
        Icons8,
      </a>{" "}
      <a target="_blank" href="https://astro.build/" class="font-bold">
        Astro,
      </a>{" "}
      <a
        target="_blank"
        href="https://tailwindcss.com/"
        class="font-bold"
      >
        Tailwind
      </a>{" "}
    </SmallText>
  </div>
</footer>