---
import Layout from '../layouts/Layout.astro';
import Header from '../components/React/Header/Header';
import Contact from '../components/React/Contact/Contact';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
// import Card from '../components/Card.astro';


const getData = async (url: string) => {
  let response = await fetch(url, {
    headers: {
      "Content-Type": "application/json",
      Authorization: `Bearer ${import.meta.env.VITE_AIRTABLE_API_KEY}`,
    },
  });
  const json = await response.json();
  return json;
}

const getWorks = async ()  => {
  const json = await getData(
    "https://api.airtable.com/v0/appVpp9nSNmoFNXBn/projects"
  );
  return json["records"];
}

const  getSkills = async  () => {
  const json = await getData(
    "https://api.airtable.com/v0/appVpp9nSNmoFNXBn/skills"
  );
  return json["records"];
}
const works = await getWorks();
const skills = await getSkills();

---

<Layout title="Maxvyr">			
	<Header />
	<div class="p-8 bg-grey">
		<Projects works={works} />
		<div class="divide-solid"></div>
		<Skills skills={skills} />
		<div class="divide-solid"></div>
		<Contact />
	</div>

	<!-- <Card
	href="./second"
	title="Route"
	body="Go"
/> -->
</Layout>
