---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header';
import Projects from '../components/Projects/Projects';
import Skills from '../components/Skills/Skills';
import Contact from '../components/Contact/Contact';
// import Card from '../components/Card.astro';


const getData = async (url: string) => {
  let response = await fetch(url, {
    headers: {
      "Content-Type": "application/json",
      Authorization: `Bearer ${import.meta.env.VITE_AIRTABLE_API_KEY}`,
    },
  });
  const json = await response.json();
  return json;
}

const getWorks = async ()  => {
  const json = await getData(
    "https://api.airtable.com/v0/appVpp9nSNmoFNXBn/projects"
  );
  return json["records"];
}

const  getSkills = async  () => {
  const json = await getData(
    "https://api.airtable.com/v0/appVpp9nSNmoFNXBn/skills"
  );
  return json["records"];
}
const works = await getWorks();
const skills = await getSkills();

---

<Layout title="Maxvyr">			
	<Header />
	<div class="p-8 bg-grey">
		<Projects works={works} />
		<div class="divide-solid"></div>
		<Skills skills={skills} />
		<div class="divide-solid"></div>
		<Contact />
	</div>

	<!-- <Card
	href="./second"
	title="Route"
	body="Go"
/> -->
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
