@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style Global */
@layer base {
  html {
    font-family: "Epilogue", sans-serif;
  }

  body {
    background-color: #000;
    color: white;
  }
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1155px;
}

.effect-nav {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
}
